body,
html {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

.page-container {
  max-width: none;
  margin: 0;
  padding: 1.2rem;
}

/* header */
.main-header {
  text-align: left;
}

.header-context {
  padding: 1.2rem;
}

/* Concert styling */
.concerts-grid {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
}

.concert-card {
  width: 25rem;
  height: auto;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.concert-card .image-container {
  width: 100%;
  height: 18rem;
  overflow: hidden;
  border-radius: 0.2rem;
}

.concert-card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* fills container to aspect ratio */
}
.concert-card h3 {
  font-size: 1rem;
}

.concert-card p {
  font-size: 0.9rem;
}

/* Navigation bar styling */
.nav-bar {
  padding: 1.2rem 5rem 1.2rem 5rem; /* Shorthand for padding --> padding: top right bottom left; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.logo {
  height: 25px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-button {
  padding: 5px 12px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.nav-button,
.nav-signup-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nav-signup-button {
  background-color: white;
  color: black;
  border-radius: 10rem;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.nav-signup-button:hover {
  background-color: rgba(255, 255, 255, 0.85);
}
