/*main background*/
/*dynamic view height reference: https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser */
.login-bg {
  height: 100dvh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page {
  display: flex;
  width: 85%;
  height: 60%;
  background: #e8e8e8;
  border-radius: 2rem;
  overflow: hidden;
  padding: 1.5rem;
  gap: 1.5rem;
}

/*visual + catchphrase for the sign-in page on the left side*/
.login-left-card {
  flex: 1;
  position: relative;
  background: url("./assets/login-bg.png") center/cover no-repeat;
  padding: 4rem 3rem;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  border-radius: 2rem;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(20, 0, 50, 0.45);
}

.log-in-visitor-view-link {
  color: #fff;
}

.left-content-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* text on image */
.left-content {
  position: relative;
  z-index: 2;
  color: white;
  height: 100%;
}

.tourjam-logo {
  width: 12.5rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.tourjam-logo:hover {
  transform: scale(1.03);
}

/*actual sign-in form on the right side for sign-in*/
.login-right-form {
  flex: 1;
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*catchphrase part on the left*/
.left-content h1 {
  font-size: 2rem;
  line-height: 1.15;
  font-weight: 700;
}

/*welcome back on the right side*/
.login-right-form h1 {
  font-size: 2rem;
  margin-bottom: 0.4rem;
  font-weight: 800;
}

/*enter username on the right side*/
.login-right-form h2 {
  font-size: 1.2rem;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.login-right-form form {
  width: 100%;
  padding: 1rem 0;
}

/* label */
.input-group label {
  position: absolute;
  left: 0.6rem;
  top: 1rem;
  color: #777;
  pointer-events: none;
  transition: all 0.3s ease;
  font-size: 1rem;
}

/* floating label animation */
/*source: https://gosnippets.com/snippets/login-form-with-floating-placeholder-and-light-button-snippet */
.input-group input:focus ~ label,
.input-group input:not(:placeholder-shown) ~ label {
  top: -0.5rem;
  margin: 0;
  left: 0.3rem;
  font-size: 0.9rem;
  color: #8b5cf6;
}

.input-group {
  position: relative;
  padding: 0.5rem 0;
  margin-top: 0.7rem;
}

.input-group input {
  width: 100%;
  border: none;
  margin-left: 0.3rem;
  border-bottom: 0.125rem solid #999;
  background: transparent;
  padding: 0.5rem 0;
  outline: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  transition: border-color 0.4s ease;
}

/* purple animated underline */
.input-group input:focus,
.input-group input:hover {
  border-bottom: 0.125rem solid #8b5cf6;
}

/* bottom row */
.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.register-text {
  font-weight: 500;
  font-size: 0.95rem;
  margin: 0;
}

.register-text a {
  color: #874fff;
  text-decoration: underline;
}

/* login button */
.login-right-form button {
  background: black;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-right-form button:hover {
  background: #874fff;
}

.error-tooltip {
  position: absolute;
  top: 0.9rem;
  left: 6rem;
  background: black;
  color: white;
  font-size: 0.85rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
  white-space: nowrap;
}
